# compiled files
bin/
obj/

# log files
*.log

# Visual Studio files
.vs/
*.suo
*.user
*.sln.ide
*.dbmdl
*.pdb
*.ipch/
*.sdf
*.opensdf
*.VC.opendb
*.VC.db

# NuGet packages
*.nupkg
packages/
*.nuget.targets
*.nuget.props
project.lock.json
*.paket.restore.cs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
msbuild.log
*.apk
*.aab

# Other
Thumbs.db
Desktop.ini
*.cache
*.bak
*.TMP
*.tmp
*.csproj.user
*.resharper*
*.resharper
*.DotSettings
*.npm-debug.log
bower_components/
node_modules/